*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    gap: 1.5rem;
}

nav a{
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 600;
    color: #000;
}

header ,header div{
    display: flex;
    align-items: center;
    gap: 70rem;
}

main{
    background-color: #F7F8F9;
}

body{
    background-color: #F7F8F9;
}

